<!DOCTYPE html>
<html ng-app="app">  
  <head lang="en">
    <meta charset="utf-8">
    <title>Custom Plunker</title>
    <link rel="stylesheet" href="style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app.js"></script>
  </head>  
  <body ng-controller="FormController">
    <form name='appForm' ng-submit='submit()'>
      <div class="control-group">
        <label class="control-label required" for="email">Email</label>
        <div class="controls">
          <input id="email" name="email" ng-model="fields.email" class="input-xlarge" required="true" type="text" />
          <p class="help-block">user@example.com</p>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label required" for="emailConfirm">Confirm Email</label>
        <div class="controls">
          <input name="emailConfirm" ng-model="fields.emailConfirm" class="input-xlarge" required="true"
            type="text" match="fields.email" />
          <div ng-show="appForm.emailConfirm.$error.mismatch">
            <span class="msg-error">Email and Confirm Email must match.</span>
          </div>
        </div>
      </div>
      <button ng-disabled='appForm.$invalid'>Submit</button>
    </form>
  </body>
</html>